.country-header h3 {
  display: flex;
  flex-direction: row;
  align-items: center; /* Alignement vertical des icônes et du texte */
  gap: 8px; /* Espacement entre l'icône et le texte */
  font-weight: bold; /* Rendre le texte du pays plus visible */
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
}

.flags-container {
  display: flex;
  margin-bottom: 20px;
  overflow-x: auto;
}

.country-flag {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  display: block;
  padding: 0;
  background-color: transparent;
} /* Reset de base et styles globaux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: #f5f7fa;
  color: #333;
  padding: 20px;
}

a {
  color: #0275d8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* En-tête */
header {
  background-color: #004680;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-content h1 {
  margin-bottom: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.nav-links li {
  padding: 0 15px;
}

.nav-links a {
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffdd57;
}

/* Contenu principal */
main {
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.card-entry h2 {
  color: #333;
  margin-bottom: 15px;
}

input[type="text"],
button {
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #0056b3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #004080;
}

/* Sections de cartes */
section {
  margin-top: 20px;
}

section h2 {
  margin-bottom: 10px;
  color: #0056b3;
}

ul {
  list-style-type: none;
}

li {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #e9ecef;
}

/* Pied de page */
footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  font-size: 0.8em;
  color: #666;
}
