/* Styles de base pour le corps et la page */

body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #eff1f3; /* Arrière-plan inspiré par les couleurs des terrains de foot */
  color: #333; /* Couleur de texte principale, sobre et lisible */
  margin: 0;
  padding: 20px;
}
#missingCards{
  display:none
};